*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
.btn-danger{
  background: #FF4D01 !important;
  border: none !important;
}
.site-hero{
  background-image: url('../img/hero-img.png');
  width: 100% !important;
  height: 955px;
  margin-top: -76px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title{
  margin-top:9rem !important;
}
.btn-secondary{
  background: transparent !important;
  border: 1px solid #fff !important;
}
.about-us{
  margin-top: 144px;
}
.about-us-img{
  width: 478px;
  height: 680px;
}
.trigger{
  background-image: url('../img/trigger.png');
  width: 100%;
  height: 545px;
  background-repeat: no-repeat;
  background-size: cover;
}
.choose-us{
  width: 100%;
  height: 834px;
  background-image: url('../img/choose-us.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 220px);

}